/* Import Font */
/* ---------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

/* Base */
/* ---------------------------------------------------------------- */

body {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
}

.panelCon{
    bottom: 0;
    left:0;
    position: fixed;
    width: 100%;
}
.panel {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.panel p {
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 40vh;
    width: 100%;
}
#pane-1 {
    background-image: url('../../images/pig_on_land.svg');
}
#pane-2 {
    background-image: url('../../images/pig_in_clouds.svg');
}
#pane-3 {
    background-image: url('../../images/pig_above_clouds.svg');
}
#pane-4 {
    background-image: url('../../images/pig_in_outer_space.svg');
    color: #fff;
}
#pane-5 {
    background-image: url('../../images/pig_in_space.svg');
    color: #fff;
}

.control-panel {
    background-color: #80808070;
    height: 50px;
    width: 100%;
}

.control-panel p {
    margin: 0;
}

.damo {
    width: 15vh;
}